.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Header {
  font-weight: 500;
}

.Ingredient {
  display: inline-block;
  margin: 4px 8px;
  border: 1px solid #ccc;
  padding: 5px;
  text-transform: capitalize;
  flex: auto;
  font-weight: 700;
  letter-spacing: 1px;
}
